.letter-container {
    /* width: 21cm;
    height: 29.7cm; */
    width: 26cm;
    height: 37cm;
    margin: 0 auto;
    padding: 8px;
    position: relative;
    background-color: white;
    border: 1px solid red;
}

@media print {
    .letter-container {
        size: portrait A4;
        margin: 0.5cm 0.7cm;
    }
}

.letter-container .quill {
    width: 100%;
}

.letter-container .quill .ql-toolbar {
    padding: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.letter-container .quill .ql-container {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* .letter-container .quill .ql-container:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
} */

.letter-container .quill .ql-editor {
    padding: 4px 8px;
    overflow-y: auto;
}

.letter-container .quill .ql-tooltip {
    z-index: 10;
}

.letter-container .quill .ql-picker-options {
    z-index: 20;
}