@media print {
   @page {
      size: portrait A4;
      width: 27cm;
      margin: 1cm 0.7cm;
   }
   .print-no-break {
      break-inside: avoid;
   }
   .print-invisbile {
      visibility: hidden;
   }
   .print-break-after {
      page-break-after: always;
   }
   .print-no-border {
      border: none;
   }
   .print-hide {
      display: none;
   }
   .print-border-bottom {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid rgb(49, 49, 49);
   }
   .print-show {
      display: inline;
   }
   ::placeholder {
      color: transparent;
   }
}