/* #registered-companies-data-grid .dx-toolbar {
    margin-top: 10px;
}

#registered-companies-data-grid .dx-datagrid-search-panel {
    margin-right: 10px;
} */

/* #registered-companies-data-grid .dx-scrollable-wrapper {
    padding-bottom: 5px;
} */

#registered-companies-data-grid #dropdown-button .dx-button-text {
    font-size: 11px;
}