#urgudul-preview-page {
    width: 21cm;
    margin: 0 auto;
}

#urgudul-preview-page .preview-container {
    /* max-width: 21cm; */
    /* height: 29.7cm; */
    position: relative;
}

@media print {
    @page {
        size: portrait A4;
        width: 27cm;
        margin: 1cm 0.7cm;
    }
    .preview-container .no-break {
        break-inside: avoid;
    }
}