.preview-container {
    width: 21cm;
    /* height: 29.7cm; */
    margin: 0 auto;
    padding: 8px;
    position: relative;
    background-color: white;
}

@media print {
    @page {
        size: portrait A4;
        margin: 0.5cm 0.2cm;
    }
    .preview-container .no-break {
        break-inside: avoid;
    }
}